{% extends "base.html" %}

{% block title %}{{ page.title }} | {% endblock title %}

{% block content %}

{% set chevron_left = load_data(path="static/icons/chevron-left.svg") %}
{% set chevron_right = load_data(path="static/icons/chevron-right.svg") %}
{% set party_popper = load_data(path="static/icons/party-popper.svg") %}

<main>
  <section class="trim">
    <hgroup class="text-center">
      <h1>
        <span class="glow" data-content="{{ page.extra.icon }}">{{ page.extra.icon }}</span>
        {{ page.date | date(format="%B %Y") }}
      </h1>
      <p class="font-size-h4">{{ page.title | markdown(inline=true) }}</p>
    </hgroup>
  </section>

  <article>
    {{ page.content | safe }}
  </article>
</main>

<footer>
  {% if page.lower %}
  <a href="{{ page.lower.permalink }}">{{ chevron_left | safe }} Newer</a>
  {% else %}
  <span>{{ party_popper | safe }} Caught up!</span>
  {% endif %}

  {% if page.higher %}
  <a href="{{ page.higher.permalink }}">Older {{ chevron_right | safe }}</a>
  {% else %}
  <span>The end {{ party_popper | safe }}</span>
  {% endif %}
</footer>
{% endblock content %}
