{% extends "base.html" %}

{% block title %}Archive | {% endblock title %}

{% block content %}
<main>
  <div>
    <h1>Archive</h1>
    <p>
      Browse the archive by month below, or
      <a href="/everything/">view all previous editions on one page.</a>
    </p>
  </div>

  {% set all_notes = get_section(path="notes/_index.md") %}
  <ul>
    {% for note in all_notes.pages %}
    <li>
      <span style="view-transition-name: post-title-{{ note.date | date(format='%Y-%m') }}">
        {{ note.extra.icon }}
        <a href="{{ note.permalink }}">{{ note.date | date(format="%B %Y") }}:</a>
      </span>
      {{ note.title }}
    </li>
    {% endfor %}
  </ul>
</main>
{% endblock content %}
