<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" href="{{ get_url(path='assets/apple-touch-icon.png') }}" />
    <link rel="icon" href="{{ get_url(path='assets/favicon.png') }}" sizes="any" />
    <title>{% block title %}{% endblock title %}{{ config.title }}</title>

    <!-- Feed -->
    <link
      rel="alternate"
      type="application/atom+xml"
      title="RSS"
      href="{{ get_url(path='notes/atom.xml', trailing_slash=false) }}"
    />

    <!-- Styles -->
    <link rel="stylesheet" href="{{ get_url(path='style/style.css') }}" />
  </head>

  <body>
    <header>
      <nav fixed>
        <strong>
          <img
            src="{{ get_url(path='assets/icon-192.png') }}"
            class="rounded-squircle shadow-high"
            width="36"
            height="36"
            alt=""
          />{{ config.title }}
        </strong>

        <ul>
          <li>
            {% set home_path = get_url(path='@/_index.md') %}
            {% set is_home = current_url is defined and current_url == home_path %}
            <a href="{{ home_path }}" {% if is_home %}aria-current="page"{% endif %}>Home</a>
          </li>
          <li>
            {% set archive_path = get_url(path='@/notes/_index.md') %}
            {% set is_archive = current_url is defined and (current_url == archive_path or current_url is starting_with(archive_path)) %}
            <a href="{{ archive_path }}" {% if is_archive %}aria-current="page"{% endif %}>
              Archive
            </a>
          </li>
          <li>
            {% set external_link = load_data(path="static/icons/external-link.svg") %}
            <a href="https://github.com/andreasphil/notes" target="_blank">
              View Source {{ external_link | safe }}
            </a>
          </li>
        </ul>
      </nav>
    </header>

    {% block content %}{% endblock content %}
  </body>
</html>
