<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 16 16'><text x='0' y='14'>🐸</text></svg>"
    />

    <title>{% block title %}{% endblock title %}Andreas&rsquo; Notes</title>

    <!-- Feed -->
    <link
      rel="alternate"
      type="application/atom+xml"
      title="RSS"
      href="{{ get_url(path='notes/atom.xml', trailing_slash=false) }}"
    />

    <!-- Styles -->
    <link rel="stylesheet" href="{{ get_url(path='style/style.css') }}" />
  </head>

  <body>
    <header>
      <nav fixed>
        <strong>Andreas&rsquo; Notes</strong>
        <ul>
          <li>
            {% set home_path = get_url(path='@/_index.md') %}
            {% set is_home = current_url is defined and current_url == home_path %}
            <a
              href="{{ home_path }}"
              {% if is_home %}aria-current="page"{% endif %}
            >Home</a>
          </li>
          <li>
            {% set archive_path = get_url(path='@/notes/_index.md') %}
            {% set is_archive = current_url is defined and (current_url == archive_path or current_url is starting_with(archive_path)) %}
            <a
              href="{{ archive_path }}"
              {% if is_archive %}aria-current="page"{% endif %}
            >Archive</a>
          </li>
          <li>
            {% set external_link = load_data(path="static/icons/external-link.svg") %}
            <a
              href="https://github.com/andreasphil/notes"
              target="_blank">View Source {{ external_link | safe }}</a>
          </li>
        </ul>
      </nav>
    </header>

    {% block content %}{% endblock content %}
  </body>
</html>
