<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 16 16'><text x='0' y='14'>🐸</text></svg>"
    />

    <title>{% block title %}{% endblock title %}Andreas&rsquo; Notes</title>

    <!-- Feed -->
    <link rel="alternate" type="application/atom+xml" title="Andreas' Notes" href="/notes/atom.xml" />

    <!-- Styles -->
    <link rel="stylesheet" href="/style/style.css" />
  </head>

  <body>
    <header>
      <nav fixed>
        <strong>Andreas&rsquo; Notes</strong>
        <ul>
          <li>
            <a href="/"{% if current_path == "/" %} aria-current="page"{% endif %}>Home</a>
          </li>
          <li>
            <a href="/notes/"{% if current_path is starting_with("/notes/") %} aria-current="page"{% endif %}>Archive</a>
          </li>
          <li>
            {% set external_link = load_data(path="static/icons/external-link.svg") %}
            <a href="https://github.com/andreasphil/notes" target="_blank">View Source {{ external_link | safe }}</a>
          </li>
        </ul>
      </nav>
    </header>

    {% block content %}{% endblock content %}
  </body>
</html>
